<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/sport.css" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var sportsData = /*[[${sports}]]*/ "Test";
      /*]]>*/
    </script>
    <script src="/js/sport.js"></script>
  </head>
  <body>
    <div>
      <a href="/sport/new">Add new sport</a>
    </div>
    <div class="dropdown-menu">
      <button class="dropdown-button">Workout type</button>
      <div class="dropdown-content">
        <div th:each="entry : ${activityType.entrySet()}">
          <a
            class="dropdown-item"
            th:href="@{/sport(activity=${entry.value})}"
            th:text="${entry.key}"
            >Action</a
          >
        </div>
      </div>
    </div>
    <div id="chart_div"></div>
  </body>
</html>
